{% extends "layout.html" %} 
{% block content %}
<div style="text-align:center"><h4>关于{{ medicine.Medicine_name }}的药品信息</h4></div>
<div class="content-section">
  <div class="media">
    <div class="media-body">
      <a class="nav-item nav-link" href="{{ url_for('update_medicine', medicine_id=medicine.id) }}">更改药品信息</a>
      {% if current_user.id == 1 %}
        <a class="nav-item nav-link" href="{{ url_for('delete_medicine', medicine_id=medicine.id) }}">删除药品信息</a><hr>
      {% endif %}
      <a class="nav-item nav-link" href="/medicine-info-for/{{ medicine.Medicine_name }}">查看此药品历史</a>
      <h6 class="account-heading">药品: {{ medicine.Medicine_name }}</h6><hr>
        <p>供应商: {{ medicine.Vendor }} </p>
        <hr>
        <p>价格: ¥{{ medicine.Price }}</p>
        <hr>
        <p>数量: {{ medicine.Quantity }}</p>
        <hr>
        <p>截止日期: {{ medicine.Deadline }}</p><hr>
        <script>  
          var dob = new Date("{{ medicine.Deadline }}"); 
          //calculate month difference from current date in time  
          var month_diff = Date.now() - dob.getTime();  
            
          //convert the calculated difference in date format  
          var age_dt = new Date(month_diff);   
            
          //extract year from date      
          var year = age_dt.getUTCFullYear();  
            
          //now calculate the age of the user  
          var age = Math.abs(1970 - year);  
            
          //display the calculated age  
          document.write("距截止日期: " + age + "年");  
      </script> 
        <hr>
        <p>食用方式: {{ medicine.How_to_use }}</p>
        <hr>
        <p>时间获取: {{ medicine.time_get.strftime('%Y-%m-%d %H:%M') }}</p>
        <hr>
        <p>添加者: {{ medicine.doctor.name }}</p>
        <hr>
      </div>
      <br>
    </div>
  </div>
</div>
{% endblock content %}