{% extends "layout.html" %} 
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="请输入名称.." title="Type in a name">
         <ul id ="myUL">
          {% for item in values %}
            <li><a href="/work/log-for/the/doctor/id/{{ item.id }}">医生姓名: {{ current_user.name }} | 时间: {{ item.date_posted.strftime('%Y-%m-%d %H:%M') }} | 标签: {{ item.tag }}</a></li></hr>
          {% endfor %}
</ul>

<script>
  function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      var nothingFound = true;
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else { 
              li[i].style.display = "none";
          } 
      } 
  }
  </script>
{% endblock content %}