{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
  <a class="mr-2" href="/addmedicine">添加药物</a><a class="mr-2" href="/allmedicine">查找药物</a>
</div>
<div class='content-section'>
      {% for medicine in medicines.items %} 
        <a class="mr-2" href="/medicine/{{ medicine.Medicine_name }}">{{ medicine.Medicine_name }}</a> 
        <p class='text-muted'>{{ medicine.time_get.strftime('%Y-%m-%d %H:%M') }}</p><hr>
      {% endfor %}
  </div>
    {% for page_num in medicines.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if medicines.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('medicine_info', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('medicine_info', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}