{% extends "layout.html" %} 
{% block content %} 
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
         <div class="title">
            <h2>1.1.0 发行说明</h2>
           </div>
          <br>
          <small class="text-muted">发布于 2020-04-27</small> 
          <hr>
          <div class="whats new">
            <h4 style="color:blue;">有什么新功能？</h4> 
              <ul>

                <div class="account">
                  <li>新功能</li>
                  <ul>
                    <li>医生可以查看新来的患者记录（不包括所有患者）</li>
                    <li>医生还可以在查看所有患者</li> 
                    <li>医生还可以在查看本日与本月拜访的患者</li> 
                    <li>新的主页面</li> 
                </ul>
                </div>
              </ul>
          </div>

          <br>

        <hr>
                  <br>

          <div class="bug fix">
            <h4 style="color:blue;">修复的bug</h4> 
              <ul>
                <div class="patient">
                   <ul>
                     <li>字体大小错误</li> 
                     <li>重新导向错误</li> 
                   </ul> 
                  </div>



{% endblock content %} 
