{% extends "layout.html" %} 
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">添加患者病患信息</legend>
                <div class="form-group">
                    <p class="text-muted">症状</p>
                    {% if form.Symptom.errors %}
                        {{ form.Symptom(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Symptom.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Symptom(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p class="text-muted">检查结果</p>
                    {% if form.Check_result.errors %}
                        {{ form.Check_result(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Check_result.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Check_result(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p class="text-muted">临床诊断</p>
                    {% if form.Preliminary_treatment_plan.errors %}
                        {{ form.Preliminary_treatment_plan(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Preliminary_treatment_plan.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Preliminary_treatment_plan(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p class="text-muted">标签</p>
                    {% if form.tag.errors %}
                        {{ form.tag(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tag.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tag(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}