{% extends "layout.html" %} 
{% block content %}
<div class="content-section">
  <div class="media">
    <div class="media-body">
  <h1 class="text-align:center">{{ worklog.date_posted.strftime('%Y-%m-%d %H:%M') }} {{ current_user.name }}的工作日志</h1>
    <br>
  <div class="media">
    <div class="media-body">
      <p>医生姓名: {{ worklog.author.name }}</p><hr>
        <p>内容: {{ worklog.body }} </p>          
        <hr>
        <p>标签: {{ worklog.tag }}</p>
        <hr>
      </div>
      <br>
    </div>
  </div>
{% endblock content %}